@page "{userId:int}"
@model SchoolManagement.Pages.Users.UserDetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.User.Name</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    Id: @Model.User.Id
</div>
<div>
    Login: @Model.User.Login
</div>
<div>
    Name: @Model.User.Name
</div>
<div>
    Role: @Model.User.UserType
</div>

<a asp-page="./List" class="btn btn-outline-primary">Back</a>
