@page

@model SchoolManagement.Pages.Users.UserListModel
@{
    ViewData["Title"] = "List";
}

<h2>
    Users
    <a class="btn btn-primary" asp-page="./Add">Add user</a>
</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>
                <a class="btn btn-link" asp-page="./Detail" asp-route-userId="@user.Id">
                    @user.Login
                </a>
            </td>
            <td>@user.Name</td>
            <td>@user.UserType</td>
            <td>
                <a class="btn btn-default" asp-page="./Edit" asp-route-userId="@user.Id">
                    <i class="fas fa-user-edit"></i>
                </a>
                <a class="btn btn-default">
                    <i class="fas fa-user-times"></i>
                </a>
            </td>
        </tr>
    }
</table>

