@page "{userId:int}"
@model SchoolManagement.Pages.Users.UserDetailModel
@{
    ViewData["Title"] = "UserDetail";
}

<h2>@Model.User.Name</h2>

<div>
    Id: @Model.User.Id
</div>
<div>
    Login: @Model.User.Login
</div>
<div>
    Name: @Model.User.Name
</div>
<div>
    Role: @Model.User.UserType
</div>

<a asp-page="./UserList" class="btn btn-outline-primary">Back</a>
